<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="search" method="POST">
        <p>
            You are signed in port number: {{port}} as the user {{name}}
        </p>
        <p>
            Enter port number to search users:
            <input type="text" name="port">
        </p>
        <p>
            
        </p>
        <input type="submit">
    </form>
</body>
</html>