<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin-top: 15%; margin-left: 40%;margin-right:40%; background-color: rgb(208, 252, 253);">
    <div style="text-align: center; border:rgba(91, 146, 1, 0.849);
     border-width:3px; border-style:solid; background-color: rgb(230, 229, 228);
      align-content:flex-end; ">
        <form action="register" method="POST">
            <p>
                name:
                <input type="text" name="name" style="align-self:flex-end">
            </p>
            
            <p>
                <input type="submit" name="submit" value="Send">
            </p>

        </form>
    </div>
</body>
</html>